// File to define variables that the other files will use

///// COLORS START /////
$darkGrey: #333;
$grey: #666;
$lightBlue: #1c88bf;
$darkBlue: #364051;
$offWhite: #f7f7f7;
///// COLORS END /////



///// FONT-SIZES START /////
$fontSizeLarge: 1.8rem;
$fontSizeSmall: 1.4rem;
///// FONT-SIZES END /////


///// SPACING STARTS /////
$smallSize: 1.2rem; 
$mediumSize: 1.6rem;
$largeSize: 3.2rem;
$xlSize: 4.8rem;
$desktopBreakpoint: 45rem;
///// SPACING ENDS /////